<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}
<div class="container-fluid h-100">
    <div class="row justify-content-center h-100">        
        <div class="col-md-8 col-xl-6 chat" style="margin-left: 153px;">
            <div class="card">
                <div class="card-header msg_head">
                    <div id="remainingTime"></div>
                    <div id="countdownTimer" class="countdown_timer"></div>
                    <div class="d-flex bd-highlight">
                        <div class="img_cont">
                            <img src="https://i.ibb.co/fSNP7Rz/icons8-chatgpt-512.png" class="rounded-circle user_img">
                            <span class="online_icon"></span>
                        </div>
                        <div class="user_info">
                            <span>Chatbot</span>
                            <p>Ask me anything!</p>
                        </div>
                    </div>
                </div>
                <div id="messageFormeight" class="card-body msg_card_body">	
                </div>
                <div class="card-footer">
                    <form id="messageArea" class="input-group">
                        <input type="text" id="text" name="msg" placeholder="Type your message..." autocomplete="off" class="form-control type_msg" required/>
                        <div class="input-group-append">
                            <button type="submit" id="send" class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        var t = true;

        // Function to create a button with a quick reply
        function createQuickReplyButton(text) {
            var quickReplyButtonHtml = '<button type="button" class="btn btn-primary quick_reply_btn' + (text.startsWith('!') ? ' toast' : '') + '">' + text.replace("!", "") + '</button>';
            $("#messageFormeight").append(quickReplyButtonHtml);

            // Handle click event of the quick reply button
            $(".quick_reply_btn").last().on("click", function() {
                var buttonText = $(this).text();
                $("#text").val(buttonText);

                // Remove all quick reply buttons
                $(".quick_reply_btn").remove();

                // Submit the form
                $("#messageArea").submit();
            });
        }


        // Function to handle the received message from the bot
        function handleBotMessage(message) {
            var botHtml = '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="https://i.ibb.co/d5b84Xw/Untitled-design.png" class="rounded-circle user_img_msg"></div><div class="msg_cotainer">' + message.replace(/\n/g, "<br>") + '<span class="msg_time">' + getCurrentTime() + '</span></div></div>';
            $("#messageFormeight").append($.parseHTML(botHtml));
        }

        // Function to get the current time in HH:MM format
        function getCurrentTime() {
            var date = new Date();
            var hour = date.getHours();
            var minute = date.getMinutes();
            return hour + ":" + minute;
        }

        $("#messageArea").on("submit", function(event) {
            event.preventDefault();

            var rawText = $("#text").val();
            $("#text").val("");

            // Add the user's message to the chat UI
            var userHtml = '<div class="d-flex justify-content-end mb-4"><div class="msg_cotainer_send">' + rawText + '<span class="msg_time_send">'+ getCurrentTime() + '</span></div><div class="img_cont_msg"><img src="https://i.ibb.co/d5b84Xw/Untitled-design.png" class="rounded-circle user_img_msg"></div></div>';
            $("#messageFormeight").append(userHtml);

            // Handle user message
            $.ajax({
                data: {
                    msg: rawText,
                },
                type: "POST",
                url: "/get",
            }).done(function(data) {
                // Handle bot message
                handleBotMessage(data.result);

                // Handle quick replies
                if (Array.isArray(data.quick_replies)) {
                    data.quick_replies.forEach(function(reply) {
                        createQuickReplyButton(reply);
                    });
                }
            });
        });

        // Fetch countdown status
        function fetchCountdownStatus() {
            $.ajax({
                url: '/countdown',
                type: 'GET',
                success: function(data) {
                    const remainingTime = data.remaining_time;
                    if (data.running === "true" && remainingTime > 0) {
                        updateCountdownTimer(remainingTime);
                        t = true;
                        setTimeout(fetchCountdownStatus, 1000);
                    } else if (data.running === "false" && remainingTime < 0) {
                        updateCountdownTimer(0);
                        setTimeout(fetchCountdownStatus, 1000);
                    } else if (data.running === "false" && remainingTime > 0 && t === true) {
                        updateRemainingTime(remainingTime);
                        updateCountdownTimer(0);
                        t = false;
                        setTimeout(fetchCountdownStatus, 1000);
                    } else {
                        updateCountdownTimer(0);
                        setTimeout(fetchCountdownStatus, 1000);
                    }
                },
                error: function(error) {
                    console.log('Error fetching countdown status:', error);
                }
            });
        }

        // Update the countdown timer in the UI
        function updateCountdownTimer(remainingTime) {
            const timerElement = document.getElementById('countdownTimer');
            if (timerElement) {
                timerElement.innerHTML = 'Countdown: ' + formatTime(remainingTime);
            }
        }

        // Update the remaining time in the UI
        function updateRemainingTime(remainingTime) {
            const remainingTimeElement = document.getElementById('remainingTime');
            if (remainingTimeElement) {
                remainingTimeElement.innerHTML = 'Last remaining time: ' + formatTime(remainingTime);
            }
        }

        // Format the time into HHh MMm SSs format
        function formatTime(timeInSeconds) {
            const hours = Math.floor(timeInSeconds / 3600);
            const minutes = Math.floor((timeInSeconds % 3600) / 60);
            const seconds = Math.floor(timeInSeconds % 60);
            return `${hours}h ${minutes}m ${seconds}s`;
        }

        fetchCountdownStatus();
    });
</script>
{% endblock %}